#nav-top>img{
   width:50px;
   height:50px
}

#nav-top{
   display:flex;
   justify-content: space-between;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#nav-top>div{
   display:flex;
   
}
#nav-top>div>img{
   width:50px;
   height:50px
}
#nav-bottom{
   display:flex;
   justify-content: space-evenly;
   background-color: rgb(248, 213, 11);
   
}

.dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 .dropdown>span{
   font-size: 20px;
 }
 #second{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
   gap:10px;
   margin: 100px;
   
 }
 #second>div>img{
   width:100%
 }
 #second>div{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

 #after-second{
   margin:100px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap:20px
 }
 #after-second>div{
   height:60px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   text-align: center;
 }

 #third>div>img{
   width:100%
 }

 #third{
   margin-left: 90px;
   margin-right: 90px;
   display: grid;
   grid-template-columns: repeat(1,1fr);
 }

 #third-inside{
   margin-left:90px;
   margin-right: 90px;
   display:grid;
   grid-template-columns: repeat(3,1fr);
 }

 #third-inside>div>img{
   width:100%
 }

 .mid-part>img{
   width:100%
 }

 .mid-part{
   margin-left: 90px;
   margin-right: 90px;
 }

 #kids-wear{
   margin-left: 90px;
   margin-right: 90px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
 }

 #kids-wear>div>img{
   width:100%
 }

 .size{
   margin-left: 90px;
   margin-right: 90px;
   display: grid;
   grid-template-columns: repeat(8,1fr);
 }
 .size>div>img{
   width:100%

 }

 #cute-kids{
   margin-left: 90px;
   margin-right: 90px;
   display: grid;
   grid-template-columns: repeat(6,1fr);
 }
 #cute-kids>div>img{
   width:100%
 }